<li class="article__item">
  <div class="article__meta"><span class="article__meta-item article__date">
	{{$user := .Params.author }}
  	{{ with .Site.Params.DateForm }}{{ $.Date.Format . }}{{ else }}{{ $.Date.Format "Mon, Jan 2, 2006" }}{{ end }} by {{partial "author_name.html" (dict "content" . "user" $user)}}
  	<span></div>
    <a href="{{ .Permalink }}" class="clearfix">
        <h3 class="article__title">{{ .Title }}</h3>
        <img class="opening__image" src="{{ $.Site.BaseURL }}images/{{ with .Params.image }}{{ . }}{{ else }}default.jpg{{ end }}">
    </a>
    <p class="article__summary">{{ .Summary }}</p>
</li>
