{{ partial "header.html" . }}
<body class="blog" data-gr-c-s-loaded="true">
  {{ partial "page_header.html" .}}
  <div class="page-content page-content--blog">
    <div class="container">
      <div class="row">
        <div class="col-12 col-desktop-10 push-desktop-1 col-hd-8 push-hd-2">
          <ul class="article__list">
          <!-- /.article__list-->
          {{ range .Paginator.Pages }}
          <!-- <div class="col-sm-4"> -->
            {{ .Render "li" }}
          <!-- </div> -->
          {{ end }}
          </ul>
          <!-- /.pagination-->
        </div>
      </div>
    </div>
  </div>

  <div class="paginator container">
    {{ if .Paginator.HasPrev }}
      <a class="paginator__active paginator__left" href="{{ .Paginator.Prev.URL }}">
          < Previous Page
      </a>
    {{ else }}
      <a class="paginator__gray paginator__left">
          < Previous Page
      </a>
    {{ end }}

    {{ range $i, $sequence :=  (seq .Paginator.TotalPages) }}
      {{if eq $.Paginator.PageNumber $sequence }}
        <a class="paginator__pages paginator__selected" href="/page/{{ $sequence }}/">{{ $sequence }}</a>
      {{else}}
        <a class="paginator__pages paginator__gray" href="/page/{{ $sequence }}/">{{ $sequence }}</a>
      {{end}}
    {{ end }}

    {{ if .Paginator.HasNext }}
      <a class="paginator__active paginator__right" href="{{ .Paginator.Next.URL }}">
          Next Page >
      </a>
    {{ else }}
      <a class="paginator__right paginator__gray">
          Next Page >
      </a>
    {{ end }}
  </div>

  {{ partial "footer.html" . }}
  <!-- / page-footer__wrapper-->

  <!-- js-->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="assets/js/jquery-1.11.2.min.js"><\/script>')</script>

  <!-- Minified script-->
  <script type="text/javascript" src="/js/custom.js"></script>
  <script type="text/javascript" src="/js/script.min.js"></script>
  <!-- GitHub star button-->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Highlight JS plugin for article page-->
  <script type="text/javascript" src="/js/highlight.pack.js"></script>
  <script type="text/javascript">
    hljs.initHighlightingOnLoad();
  </script>
  <!-- Disqus comment count-->
  <!-- Info: https://help.disqus.com/customer/portal/articles/565624-->
  <script id="dsq-count-scr" src="//skgamingtest.disqus.com/count.js" async></script>

  <!-- Google Analytics-->
  <script>(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date; e=o.createElement(i);r=o.getElementsByTagName(i)[0]; e.src='//www.google-analytics.com/analytics.js'; r.parentNode.insertBefore(e,r)}(window,document,'script','ga')); ga('create','UA-XXXXX-X');ga('send','pageview');</script>
</html>
