<div class="page-footer__wrapper">
	<footer id="page-footer" class="page-footer">
		<div class="container">
			<div class="row">
				<div class="col-12 col-tablet-3">
					<figure class="page-logo-footer"><a href="/"><img src="/images/logo.svg" width="140" height="42" alt="Company Logo"></a></figure>
				</div>
				<div class="col-4 col-tablet-2">
					<nav class="page-footer-nav">
						<h6 class="page-footer-nav__title">Community</h6>
						<ul class="page-footer-nav__list">
							{{if .Site.Params.github }}
							<li class="page-footer-nav__item"><a href="https://github.com/{{.Site.Params.github}}" title="Wa are on GitHub, check it out." target="_blank" class="page-footer-nav__link">GitHub</a></li>
							{{end}}
							{{if .Site.Params.discourse }}
							<li class="page-footer-nav__item"><a href="{{.Site.Params.discourse}}" title="Join our community" target="_blank" class="page-footer-nav__link">Discuss</a></li>
							{{end}}
							{{if .Site.Params.website}}
							<li class="page-footer-nav__item"><a href="{{.Site.Params.website}}" title="Discuss about Dgraph with us." target="_blank" class="page-footer-nav__link">Website</a></li>
							{{end}}
						</ul>
					</nav>
				</div>
			</div>
			<div class="row">
				<span class="imprint__copyrights">{{ with .Site.Copyright | safeHTML }}{{ . }}{{ else }}&copy; {{ $.Site.LastChange.Year }} {{ if isset $.Site.Params "Author" }}{{ $.Site.Params.Author }}{{ else }}{{ .Site.Title }}{{ end }}{{ end }}</span>
			</div>
		</div>
	</footer>
	<!-- / page-footer-->
</div>

<script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

{{ with .Site.Params.googleAnalytics }}
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', '{{ . }}', 'auto');
ga('send', 'pageview');
</script>
{{ end }}

<script>
$(document.links).filter(function() {
	return this.hostname != window.location.hostname;
}).attr('target', '_blank');
</script>
</body>
</html>
