<div class="page-footer__wrapper">
  <footer id="page-footer" class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col-12 col-tablet-3">
          <figure class="page-logo-footer"><a href="/"><img src="/images/logo.svg" width="140" height="42" alt="Company Logo"></a></figure>
        </div>
        {{if .Site.Params.website}}
        <div class="col-4 col-tablet-2">
          <nav class="page-footer-nav">
            <h6 class="page-footer-nav__title">Company</h6>
            <ul class="page-footer-nav__list">
              <li class="page-footer-nav__item"><a href="{{.Site.Params.website}}about.html" title="Learn More about us" target="_blank" class="page-footer-nav__link">About</a></li>
              <li class="page-footer-nav__item"><a href="{{.Site.Params.website}}careers.html" title="See open positions" target="_blank" class="page-footer-nav__link">Careers</a></li>
              <li class="page-footer-nav__item"><a href="{{.Site.Params.website}}contact.html" title="How can you reach us" target="_blank" class="page-footer-nav__link">Contact</a></li>
              {{if .Site.Params.wiki}}
              <li class="page-footer-nav__item"><a href="{{.Site.Params.wiki}}Beginners_Guide#Installation" title="Download" target="_blank" class="page-footer-nav__link page-footer-nav__link--download">Download</a></li>
              {{end}}
            </ul>
          </nav>
        </div>
        {{end}}
        <div class="col-4 col-tablet-2">
          <nav class="page-footer-nav">
            <h6 class="page-footer-nav__title">Community</h6>
            <ul class="page-footer-nav__list">
              <li class="page-footer-nav__item"><a href="{{.Permalink}}" title="Our thoughts" target="_blank" class="page-footer-nav__link">Blog</a></li>
              {{if .Site.Params.wiki}}
              <li class="page-footer-nav__item"><a href="{{.Site.Params.wiki}}" title="Documentation" target="_blank" class="page-footer-nav__link">Documentation</a></li>
              {{end}}
              {{if .Site.Params.github }}
              <li class="page-footer-nav__item"><a href="https://github.com/{{.Site.Params.github}}" title="We are on GitHub, check it out." target="_blank" class="page-footer-nav__link">GitHub</a></li>
              {{end}}
              {{if .Site.Params.discourse }}
              <li class="page-footer-nav__item"><a href="{{.Site.Params.discourse}}" title="Join our community" target="_blank" class="page-footer-nav__link">Discuss</a></li>
              {{end}}
              {{if .Site.Params.slack }}
              <li class="page-footer-nav__item"><a href="{{.Site.Params.slack}}" title="Join our community" target="_blank" class="page-footer-nav__link">Slack</a></li>
              {{end}}
            </ul>
          </nav>
        </div>
        <div class="col-4 col-tablet-2">
          <nav class="page-footer-nav">
            <h6 class="page-footer-nav__title">Connect</h6>
            <ul class="page-footer-nav__list">
              {{if .Site.Params.twitter }}
              <li class="page-footer-nav__item"><a href="https://twitter.com/{{.Site.Params.twitter}}" title="Follow us on twitter" target="_blank" class="page-footer-nav__link">Twitter</a></li>
              {{end}}
              {{if .Site.Params.angellist }}
              <li class="page-footer-nav__item"><a href="https://angel.co/{{.Site.Params.angellist}}" title="Follow us on twitter" target="_blank" class="page-footer-nav__link">Angel List</a></li>
              {{end}}
            </ul>
          </nav>
        </div>
      </div>
      <div class="row">
        <span class="imprint__copyrights">{{ with .Site.Copyright | safeHTML }}{{ . }}{{ else }}&copy; {{ $.Site.LastChange.Year }} {{ if isset $.Site.Params "Author" }}{{ $.Site.Params.Author }}{{ else }}{{ .Site.Title }}{{ end }}{{ end }}</span>
      </div>
    </div>
  </footer>
  <!-- / page-footer-->
</div>

    <script src="{{ .Site.BaseURL }}/js/clipboard.min.js"></script>
    <script src="{{ .Site.BaseURL }}/js/runnable.js?{{ now }}"></script>
    <script>
    hljs.initHighlightingOnLoad();
</script>
{{ with .Site.Params.googleAnalytics }}
<script>
if (window.location.host.indexOf("dgraph.io") > -1) {
  (function(i, s, o, g, r, a, m) {
    i["GoogleAnalyticsObject"] = r;
    (i[r] =
      i[r] ||
      function() {
        (i[r].q = i[r].q || []).push(arguments);
      }), (i[r].l = 1 * new Date());
    (a = s.createElement(o)), (m = s.getElementsByTagName(o)[0]);
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m);
  })(
    window,
    document,
    "script",
    "//www.google-analytics.com/analytics.js",
    "ga"
  );
  ga("create", "{{ . }}", "auto");
  ga("send", "pageview");
}
</script>
{{ end }}

<script>
$(document.links)
  .filter(function() {
    return this.hostname != window.location.hostname;
  })
  .attr("target", "_blank");
</script>

<!-- Mailchimp popup -->
<script>
  function getCookie(cname) {
    var name = cname + "=";
    var decodedCookie = decodeURIComponent(document.cookie);
    var ca = decodedCookie.split(';');
    for(var i = 0; i <ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
            c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
        }
    }
    return "";
  }

  function setCookie(cname, cvalue, exdays) {
    exdays = exdays || 60;
    var d = new Date();
    d.setTime(d.getTime() + (exdays*24*60*60*1000));
    var expires = "expires="+ d.toUTCString();
    document.cookie = cname + "=" + cvalue + ";" + expires + ";domain=.dgraph.io;path=/";
  }
</script>
<script type="text/javascript" src="https://downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script>
<script type="text/javascript">
  function isLocal() {
    const hostname = window.location.hostname;
    return hostname === "localhost" || hostname === "127.0.0.1";
  }

  function showPopup(isStart) {
    var skip = false;
    if (isStart && (getCookie("MCCustom") || isLocal())) {
      skip = true;
    }

    var elements = document.getElementsByClassName('mc-modal');
    while(elements.length > 0) {
      elements[0].parentNode.parentNode.removeChild(elements[0].parentNode);
    }

    require(["mojo/signup-forms/Loader"], function(L) {
      if (!skip) {
        L.start({"baseUrl":"mc.us17.list-manage.com","uuid":"f6c6a28bb40d10e26b88fff1c","lid":"e85c448cac"});
      }
    });

    if (skip) {
      return;
    }

    var mcPopupClosed = getCookie("MCPopupClosed");
    if (mcPopupClosed) {
      setCookie("MCCustom", "c");
    }

    var mcPopupSubscribed = getCookie("MCPopupSubscribed");
    if (mcPopupSubscribed) {
      setCookie("MCCustom", "s");
    }

    document.cookie = 'MCPopupClosed=;path=/;expires=Thu, 01 Jan 1970 00:00:00 UTC;';
    document.cookie = 'MCPopupSubscribed=;path=/;expires=Thu, 01 Jan 1970 00:00:00 UTC;';
  }

  showPopup(true);
</script>

</body>
</html>
